<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Best slayer</th>
  </tr>

  <% @index.each do |list| %>
    <tr>
      <% list.values.each do |element| %>
        <td><%= element %></td>
      <% end  %>
    </tr>
    <% end %>
</table>