<h1>BestiaryController#index</h1>
<p>Find me in app/views/bestiary_controller/index.html.erb</p>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Best slayer</th>
  </tr>
  <% @monsters.each do |monster| %>
  <tr>
    <td><%= monster[:id] %></td>
    <td><%= monster[:name] %></td>
    <td><%= monster[:location] %></td>
    <td><%= monster[:name] %></td>
  </tr>
  <% end %>
</table>