<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Location</td>
    <td>Best slayer</td>
  </tr>
  <% @monsters.each do |monster| %>
    <tr>
      <td><%= monster[:id] %></td>
      <td><%= monster[:name] %></td>
      <td><%= monster[:lcoation] %></td>
      <td><%= monster[:best_slayer] %></td>
    </tr>
  <% end %>
</table>