<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Best slayer</th>
  </tr>

  <% @monsters.each do |monster| %>
    <tr>
      <% monster.values.each do |value| %>
      	<td><%= value %></td>
      <% end %>
    </tr>
  <% end %>
</table> 