<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Best slayer</th>
  </tr>

  <% @index.each do |list| %>
    <tr>
      <td><%= list[:id] %></td>
      <td><%= list[:name] %></td>
      <td><%= list[:location] %></td>
      <td><%= list[:best_slayer] %></td>
    </tr>
    <% end %>
</table>