<h2>Monsters from Novigrad</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Best slayer</th>
  </tr>
  <% @novigrad_monsters.each do |monster| %>
  <tr>
    <td><%= monster[:id] %></td>
    <td><%= monster[:name] %></td>
    <td><%= monster[:best_slayer] %></td>
   </tr> 
   <% end %> 
 </table>
 
