<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Best slayer</th>
  </tr>
  <% @monsters.each do |c| %>
  <tr>
    <td><%= c[:id] %></td>
    <td><%= c[:name] %></td>
    <td><%= c[:location] %></td>
    <td><%= c[:best_slayer] %></td>
  </tr>
  <% end %>
</table>