<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Location</th>
		<th>Best slayer</th>
	</tr>

<% if !(@novigrad_monsters.nil?) %>
	<% @novigrad_monsters.each do |m| %>
	<tr>
		<th><%= m[:id] %></th>
		<th><%= m[:name] %></th>
		<th><%= m[:location] %></th>
		<th><%= m[:best_slayer] %></th>
	</tr>	
	<% end %>
<% end %>
</table>
