<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Best slayer</th>
  </tr>

  <% @novigrad_monsters.each do |list| %>
    <tr>
      <td><%= list[:id] %></td>
      <td><%= list[:name] %></td>
      <td><%= list[:best_slayer] %></td>
    </tr>
  <% end %>
</table>