<div class="container">
  <h2><%= @artist.name %></h2>
  <table class="table">
    <tbody>
      <% @artist.tracks.each do |track| %>
        <tr>
          <td><%= track.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>