<div class="container">
  <h2>Edit artist</h2>
  <%= simple_form_for @artist do |f| %>
    <%= f.input :name, label: 'Change something' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  </br>
  <% @artist.errors.full_messages.each do |error| %>
    <%= error %></br>
  <% end %>
</div>
