<div class="container">
<h2> All songs from <%= @artist.name %> </h2>

<table class="table">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @artist.tracks.each do |track| %>
        <tr>
          <td><%= track.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
