<div class="container">
  <h2><%= @artist.name %> tracks </h2>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @artist.tracks.each do |track| %>
        <tr>
          <td><%= track.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
