<div>
  <center>
  <h2>Witcher's Bestiary</h2>
  </center>
  <nav>
    <ul>
      <li><%= link_to 'All', bestiary_path %></li>
      <li><%= link_to 'Novigrad', bestiary_novigrad_monsters_path %></li>
    </ul>
  </nav>
</div>