<h1>Witcher's Bestiary</h1>
<nav>
  <h3>Go to:</h3>
    <ul>
      <li><h4><%= link_to 'All monsters', index_path %></h3></li>
      <li><h4><%= link_to 'Novigrad Monsters', novigrad_monsters_path %></h3></li>
    </ul>
</nav>
