<%# app/views/layouts/_header.html.erb %>
<div>
  <center>
    <h1>Witcher's Bestiary</h1>
  </center>
</div>
<div>
  <%= link_to 'Complete bestiary', index_path %><br />
  <%= link_to 'Novigrad bestiary', novigrad_monsters_path %><br />
  <%= link_to 'Bestiary: G', g_monsters_path %>
</div>
</ br>

