<h1>Witchers Bestiary</h1>
<div class="navigation">
	<h3><%= link_to 'Home', root_path, :class => 'link_to' %></h3>
	<h3><%= link_to 'Novigrad Monsters', novigrad_path, :class => 'link_to' %></h3>
</div>
