<div class="content">
  <header>
    <h1>Witcher's Bestiary</h1>
    <nav>
      <%= link_to 'Index', '/' %>
      <%= link_to 'Novigrad Monsters', '/novigrad_monsters' %>
    </nav>
  <header>
</div>