<h1 style="text-shadow: -3px -3px grey;">Witcher's Bestiary</h1>
<table> 
   <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Best slayer</th>
  </tr>
 <% @monsters.each do |monster| %>
    <tr>
      <td><%= monster[:id]%></td>
      <td><%= monster[:name]%></td>
      <td><%= monster[:location]%></td>
      <td><%= monster[:best_slayer]%></td>
    <tr>
  <% end %>
</table>