<h2>All products</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>   
        <td>
          <% product.categories.each do |category| %>
            <%= category.name %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
