<body>
	<table>
		<thead>
			<td style="text-align: center; font-weight: bold; font-size: 1.5em">Product name</td>
			<td style="text-align: center; font-weight: bold; font-size: 1.5em">Product price</td>
			<td style="text-align: center; font-weight: bold; font-size: 1.5em">Product categories</td>
		</thead>
		<tbody >
			<% @products.each do |product| %>
			<tr>
				<td style="text-align: center"><%= product.name %></td>
				<td style="text-align: center"><%= product.price %></td>
				<td style="text-align: center">
					<% product.categories.each do |category| %>
						<%= category.name %><br>			
					<% end %>	
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</body>
