<h1> <%= @customer.name %> products </h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price (PLN)</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td>
          <% product.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>