%nav.navbar.navbar-default
  %div.container-fluid
    %div.navbar-header
      %button.navbar-toggle.collapsed{"type":"button","data-toggle":"collapse","data-target":"#bs-example-navbar-collapse-1","aria-expanded":"false"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{"href":"#"} REST
    %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li #{link_to 'Tracks', tracks_url}  
        %li #{link_to 'Playlists', playlists_url}  
        %li #{link_to 'Artists', artists_url}  
