<h1 class="text-center">All customers</h1> 
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="text-center"><%= customer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>