<h1>All customers</h1>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>