<div class="container">
  <h2>All customers</h2>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Mail</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
           <td><%= customer.mail %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
