<div class="wrapper">
  <div>
    <h2><%= team_name %></h2>
    <%= render partial: 'team', locals: { team: @team1 }%>
  </div>
  <div>
    <h2><%= team_name %></h2>
    <%= render partial: 'team', locals: { team: @team2 }%>
  </div>
</div>