/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: #0f0f0f;
	font-family: Arial, sans-serif;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

header {
	margin: 0 auto;
	width: 90%;
	display: flex;
	align-items: center;
}

h1 {
	color: #a5a4a4;
	text-transform: uppercase;
}


.container {
	width: 90%;
	margin: 0 auto;
}

a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
}

a:hover {
	font-weight: bold;
	border-bottom: 1px solid #a5a4a4;
}

table {
	padding: 0;
	margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a5a4a4;
    text-align: left;
    padding: 8px;
}

thead tr {
	background: #333333;
}

tbody tr:hover {
	background: #a5a4a4;
	color: #0f0f0f;
}

